# 使用 $PROJ_DATABASE_PATH 占位符代替当前站点的数据库配置文件夹的路径；
# 不建议用户修改除了端口外的其他默认配置；
# 完成此配置文件的修改后需重新打开站点以生效。

# Use $PROJ_DATABASE_PATH to 
# represent the path of current project's database configuration folder;
# Do not recommend users to modify items' default values except port's;
# Reopen the project to reload modified configuration file.

# Utilice $PROJ_DATABASE_PATH para
# representa la ruta de la carpeta de configuración de la base de datos del proyecto actual;
# No recomendar a los usuarios que modifiquen los valores predeterminados de los elementos, excepto los del puerto;
# Vuelva a abrir el proyecto para recargar el archivo de configuración modificado.

[client]

    port = 3306

    socket = /data/data/com.venter.hopweb/files/mysql/mysql.sock

    character-sets-dir = /data/data/com.venter.hopweb/files/mysql/charsets

[mysqld]

    log-error = $PROJ_DATABASE_PATH/mysql.log

    port = 3306

    socket = /data/data/com.venter.hopweb/files/mysql/mysql.sock

    character-sets-dir = /data/data/com.venter.hopweb/files/mysql/charsets

    basedir = $PROJ_DATABASE_PATH

    datadir = $PROJ_DATABASE_PATH/data

    tmpdir = $PROJ_DATABASE_PATH/tmp

    character-set-server = utf8

    lower_case_table_names = 2